[Unit]
Description=Smart Home
After=syslog.target

[Service]
Type=idle
ExecStart=/usr/local/bin/smart-home/venv/bin/python /usr/local/bin/smart-home/main.py

[Install]
WantedBy = multi-user.target
